.hero {
  padding: 2rem 1rem 4rem 1.3rem;
  &__heading {
    font-size: $medium-font;
    letter-spacing: -1px;
    line-height: 100%;
    margin-bottom: 2.5rem;
    @media screen and (min-width: $tablet) {
      font-size: $large-font;
      width: 26rem;
    }
  }
  &__intro {
    line-height: $line-height-lg;
    @media screen and (min-width: $tablet) {
      font-size: $x-small-font;
      width: 31.5rem;
    }
  }
}
