:root {
  --dark-purple: #24053e;
  --green: #44ffa1;
  --gray: #584d62;
  --ghost-white: #fcf8ff;
  --white: #fff;
}
@font-face {
  font-family: "Fraunces";
  src: url(Fraunces_144pt-SemiBold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*General Styling*/
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}
h1 {
  font-size: 5rem;
  line-height: 1;
  margin: 3.5rem auto 2rem;
  max-width: 45%;
  text-align: center;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  line-height: 2;
  overflow-x: hidden;
}
/*Header styling*/
.background {
  background: var(--dark-purple);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scale(2);
  height: 490px;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
header {
  position: relative;
  height: 730px;
  color: var(--white);
  background-image: url(images/bg-pattern-1.svg), url(images/bg-pattern-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -12% 32%, 103% 60%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  font-weight: 800;
}
.highlight {
  text-decoration-line: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
.apply-btn {
  border-bottom: 2px solid var(--green);
}
.header-content {
  max-width: 1440px;
  width: 77%;
  margin: 0 auto;
}
.btn {
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid var(--green);
  color: var(--dark-purple);
  background: var(--green);
  word-spacing: -2px;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  color: var(--green);
  background: var(--dark-purple);
}
.btn.header {
  margin: 0 auto;
  width: 161px;
  height: 61px;
  letter-spacing: -0.5px;
}
.apply-btn:link,
.apply-btn:visited {
  color: var(--white);
}
.apply-btn:hover {
  color: var(--green);
}
.phone {
  max-width: 764px;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 26%;
}
/*Items styling*/
.background.main {
  background: var(--ghost-white);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scale(2);
  height: 500px;
  width: 100vw;
  position: absolute;
  top: 82%;
  z-index: -2;
}
.items-flex {
  display: flex;
  gap: 2rem;
  align-items: start;
  text-align: center;
  max-width: 1114px;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 14.5em;
  padding-bottom: 15em;
}
.item {
  color: var(--dark-purple);
  display: grid;
  gap: 1rem;
  place-items: center;
}
.number {
  border-radius: 50%;
  border: 1px solid var(--dark-purple);
  width: 56px;
  height: 56px;
  font-family: "Fraunces", serif;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.item-title {
  font-size: 2rem;
}
/*Tester Styling*/
.tester-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}
.profile-pic {
  max-width: 477px;
  position: absolute;
  top: -5%;
  left: 20%;
  z-index: -1;
}
.tester-txt {
  background: var(--dark-purple);
  color: var(--white);
  max-width: 730px;
  height: 413px;
  padding: 2.5rem 4rem;
  margin: 10rem 0 2rem 25rem;
  position: relative;
}
.tester-header {
  font-size: 3.5rem;
}
.tester-txt p {
  padding-bottom: 1.5rem;
  margin-top: 3px;
}
.tester-background {
  position: absolute;
  top: 64%;
  left: 60%;
}
.btn.main {
  width: 190px;
  height: 61px;
}
/*Footer styling*/
footer {
  margin: 5.5rem auto;
  display: grid;
  gap: 3.5rem;
  place-items: center;
}
.contact {
  display: flex;
  gap: 25px;
}
