:root {
  --violet: #684bb1;
  --soft-magenta: #e880e8;
  --white: #fff;
}
/*Style reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*General styling*/
body {
  background-color: var(--violet);
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  min-height: 800px;
}
img {
  display: block;
  max-width: 100%;
}
/*Header styling*/
header {
  margin-top: 2rem;
}
.logo {
  margin-left: 2rem;
  width: 127px;
}
/*Main section styling*/
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  margin: 3.5rem 2rem 4rem;
  text-align: center;
}
.illustration {
  width: 296px;
}
h1 {
  font-size: 1.5rem;
  line-height: 36px;
  margin-bottom: 0.75rem;
}
.intro {
  font-size: 1rem;
  line-height: 24px;
  margin: 0 0.5rem 1.5rem;
}
h1,
button {
  font-family: "Poppins", sans-serif;
}
button {
  background-color: var(--white);
  border: none;
  border-radius: 20px;
  box-shadow: 3px 4px 4px #00000048;
  color: var(--violet);
  cursor: pointer;
  font-size: 0.75rem;
  padding: 0.65rem 4.7rem;
}
button:hover {
  background-color: var(--soft-magenta);
  color: var(--white);
}
/*Footer styling*/
footer {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}
.social:link,
.social:visited {
  align-items: center;
  border: 1.18px solid var(--white);
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 0.825rem;
  height: 28px;
  justify-content: center;
  text-decoration: none;
  width: 28px;
}
.social:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}
/*Media queries*/
@media (min-width: 750px) {
  body {
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    font-size: 1.125rem;
  }
  header {
    margin-top: 4rem;
  }
  .logo {
    margin-left: 5.2rem;
    width: 207px;
  }
  .intro {
    line-height: 27px;
    margin: 0 0 1.3rem;
    width: fit-content;
  }
  .illustration {
    width: 696px;
    height: 493px;
  }
  main {
    align-items: flex-start;
    flex-direction: row;
    gap: 3.2rem;
    justify-content: center;
    margin: 5.5rem auto 1rem;
    text-align: left;
  }
  .text {
    margin-top: 2.5rem;
    width: 520px;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 60px;
    margin-bottom: 1rem;
  }
  button {
    border-radius: 28px;
    box-shadow: 4px 8px 10px #00000048;
    font-size: 1.125rem;
    padding: 0.85rem 3.8rem;
  }
  footer {
    gap: 0.8rem;
    justify-content: flex-end;
    margin-right: 6rem;
  }
  .social:link,
  .social:visited {
    font-size: 1.188rem;
    height: 40px;
    width: 40px;
  }
}
