:root {
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: #1a4032;
  --dark-gray-blue: hsl(228, 12%, 48%);
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*General Styling*/
body {
  background: var(--cream);
  color: var(--dark-gray-blue);
  display: grid;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  place-content: center;
}
.card-container {
  background: var(--white);
  border-radius: 0.5rem;
  display: flex;
  max-width: 600px;
  height: 450px;
}
/*Product Image Styling*/
.image {
  width: 50%;
}
.desktop-img {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: block;
  max-width: 100%;
}
.mobile-img {
  display: none;
}
/*Product Details*/
.product-details {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  width: 50%;
}
h1 {
  color: var(--dark-blue);
  font-size: 2rem;
  line-height: 2rem;
}
h1,
h2 {
  font-family: "Fraunces", serif;
}
h2 {
  font-size: 2rem;
}
.category {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  order: -1;
  text-transform: uppercase;
}
.product-description {
  line-height: 1.4rem;
  font-size: 0.86rem;
  margin-top: 5px;
}
.product-price {
  align-items: center;
  display: flex;
  gap: 1.3rem;
  margin-bottom: 0.5rem;
}
.new-price {
  color: var(--dark-cyan);
  margin-top: 5px;
}
.old-price {
  text-decoration: line-through;
  font-size: 0.8rem;
  margin-top: 3px;
  margin-left: -1px;
}
button {
  background: var(--dark-cyan);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.75rem 2rem;
  letter-spacing: 0.5px;
}
button:hover {
  background: var(--darker-cyan);
}
.icon {
  padding-right: 12px;
  vertical-align: middle;
  margin-bottom: 1.5px;
}
/*Responsive Styling*/
@media (max-width: 625px) {
  .card-container {
    flex-direction: column;
    margin: 0 auto;
    max-width: 343px;
    height: 611px;
  }
  .desktop-img {
    display: none;
  }
  .image,
  .product-details {
    width: 100%;
  }
  .product-details {
    padding: 1.5rem;
  }
  .product-price {
    margin-bottom: 0;
  }
  .mobile-img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: block;
    max-width: 100%;
  }
  h1 {
    font-size: 2rem;
    line-height: 1.8rem;
  }
  button {
    padding: 0.95rem 2rem;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.65rem;
  }
  .product-price {
    gap: 1rem;
  }
}
@media (max-width: 250px) {
  body {
    font-size: 0.85rem;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  button {
    padding: 0.5rem 1rem;
  }
}
