//Colors
$color-primary-dark: #13183f;
$color-bright-pink: #f74780;
$color-blue: #666ca3;
$color-grey: #83869a;
$color-pink: #ffa7c3;
$color-white: #fff;
$color-orange-gradient: #ff6f48;
$color-pink-gradient: #f02aa6;
$color-purple-gradient: #4851ff;

//Global reset

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $color-grey;
}
.heading__1,
.heading__2,
.heading__3 {
  color: $color-primary-dark;
  font-weight: 800;
}

img {
  display: block;
}
//Buttons
%btn-reset {
  text-decoration: none;
  font-weight: 700;
}
%btn-color {
  color: $color-white;
}

@mixin btn($top, $left, $radius) {
  padding: $top $left;
  border-radius: $radius;
}
.header__btn,
.hero__btn,
.course-box__btn,
.footer__btn {
  @extend %btn-reset;
}
.header__btn,
.hero__btn,
.footer__btn {
  @extend %btn-color;
}
.header__btn {
  @include btn(0.8rem, 1.5rem, 28px);
  &:link,
  &:visited {
    background-color: $color-primary-dark;
  }
  &:hover,
  &:active {
    background-color: $color-blue;
  }
}
.hero__btn {
  @include btn(1.1rem, 2.3rem, 31.5px);
  &:link,
  &:visited {
    background-image: linear-gradient(
      $color-orange-gradient,
      $color-pink-gradient
    );
  }
  &:hover,
  &:active {
    background-image: linear-gradient(
      rgba($color-orange-gradient, 0.5),
      rgba($color-pink-gradient, 0.5)
    );
  }
}
.course-box__btn {
  color: $color-bright-pink;
}
.footer__btn {
  @include btn(0.8rem, 1.5rem, 28px);
  &:link,
  &:visited {
    background-image: linear-gradient(
      $color-purple-gradient,
      $color-pink-gradient
    );
  }
  &:hover,
  &:active {
    background-image: linear-gradient(
      rgba($color-purple-gradient, 0.5),
      rgba($color-pink-gradient, 0.5)
    );
  }
}
