.courses {
  margin: 2rem $margin-small 5rem;
  display: grid;
  gap: 2.8rem;

  .most-popular {
    background-image: linear-gradient(
      $color-orange-gradient,
      $color-pink-gradient
    );
    padding: 1.5rem;
  }
  .heading--2 {
    color: $color-white;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .most-popular,
  .course-box {
    border-radius: 10px;
  }

  .course-box {
    background-color: $color-white;
    padding: 3.5rem 1.8rem 2rem;
    position: relative;

    &__icon {
      position: absolute;
      top: -1.5rem;
    }
    .heading--3 {
      font-size: 1.25rem;
    }
    &__paragraph {
      line-height: 26px;
      margin-bottom: 1.5rem;
    }

    .heading--3,
    &__btn {
      margin-bottom: 1rem;
    }
    &__btn {
      font-size: 1.125rem;
      line-height: 28px;
    }
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem $margin-medium 5rem;
    column-gap: 0.8rem;
    row-gap: 3.5rem;
    .most-popular {
      padding-top: 3.5rem;
    }

    .course-box {
      padding: 3.5rem 1.5rem 2rem;
    }
  }
}
