footer {
  background-color: $color-primary-dark;
  padding: 2.2rem 0;
  .footer {
    @include layout;
    margin: 0 $margin-small;

    @media screen and (min-width: $tablet) {
      margin: 0 $margin-medium;
    }
    @media screen and (min-width: $desktop) {
      margin: 0 $margin-large;
      max-width: 1110px;
    }
    @media screen and (min-width: $large) {
      margin: 0 auto;
    }
  }
}
