.hero {
  margin: 2rem $margin-small 0;

  .heading__1 {
    font-size: 2.5rem;
    line-height: 51px;
  }
  .heading__1,
  &__paragraph,
  &__btn {
    margin-bottom: 1.5rem;
  }
  &__paragraph {
    line-height: 26px;
    .no-break {
      white-space: nowrap;
    }
  }
}
