.hero {
  margin: 2rem $margin-small 0;
  position: relative;

  @media screen and (min-width: $tablet) {
    margin: 2rem $margin-medium 11rem;
    width: 54%;

    &__img {
      position: absolute;
      top: -210px;
      right: -605px;
      z-index: -1;
    }
  }
  .heading--1 {
    font-size: 2.5rem;
    line-height: 51px;
  }
  .heading--1,
  &__paragraph,
  &__btn {
    margin-bottom: 1.5rem;
  }
  &__paragraph {
    line-height: 26px;
    .no-break {
      white-space: nowrap;
    }
  }
  &__img {
    margin: 0 auto;
  }
}
