:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background: var(--light-gray);
  height: 100vh;
  display: grid;
  align-content: center;
}
.main {
  background: var(--white);
  max-width: 20rem;
  height: max-content;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-radius: 1rem;
}

img {
  display:block;
  width: 100%;
  border-radius: 0.5rem;
}

p {
  font-size: 0.94rem;
  color: var(--grayish-blue);
  padding: 0 1em 1em 1em;
}
