:root {
  --cyan: hsl(178, 100%, 50%);
  --background-blue: hsl(217, 54%, 11%);
  --card-blue: hsl(216, 50%, 16%);
  --dark-blue: hsl(215, 32%, 27%);
  --soft-blue: hsl(215, 51%, 70%);
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*General styling*/
body {
  background: var(--background-blue);
  color: var(--soft-blue);
  display: grid;
  font-family: "Outfit", sans-serif;
  height: 100vh;
  place-content: center;
}
img {
  display: block;
  max-width: 100%;
}
/*Card styling*/
.card-container {
  background-color: var(--card-blue);
  box-shadow: 0 1rem 0.5rem 1rem #0c1727, 0 -0.5rem 0.5rem 1rem #0c1727;
  border-radius: 1rem;
  max-width: 20rem;
  display: grid;
  gap: 1rem;
  padding: 1.2rem;
}
/*Background Image Styling*/
.card-image {
  width: 100%;
  position: relative;
}
.background-img {
  border-radius: 0.5rem;
  height: 100%;
}
.hover-icon {
  background-color: #00fff780;
  border-radius: 0.25rem;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
}
.hover-icon:hover {
  opacity: 1;
  cursor: pointer;
}
/*Card Content Styling*/
h1 {
  font-size: 1.3rem;
}
h1,
.name {
  color: var(--white);
}
h1:hover,
.name:hover {
  cursor: pointer;
  color: var(--cyan);
}
.card-description {
  line-height: 1.5rem;
}
.crypto-info {
  display: flex;
  justify-content: space-between;
}
.ethereum {
  color: var(--cyan);
}
.crypto,
.time-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.crypto {
  font-weight: 600;
}
hr {
  border-color: var(--soft-blue);
}
.creator {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.avatar {
  max-width: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}
/*Responsive Styling*/
@media (max-width: 300px) {
  h1 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.9rem;
  }
  .card-container {
    max-width: 17rem;
  }
}
